<a href="https://colab.research.google.com/github/NguyenThiPhuongNhi/MayHoc_2022_2023/blob/main/Lab_6_20130353_NguyenThiPhuongNhi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Naïve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [1]:
# code
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics._plot.confusion_matrix import ConfusionMatrixDisplay
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn import svm
from prettytable import PrettyTable

In [2]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_selection import f_classif

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [3]:
# code
#Random forest chia tập thành n phần => tạo n cây quyết định 
# n_features: n thuộc tính, lấy căn bậc 2 xd số thuộc tính xd cây qd 
#n_estimato số cây qd sẽ tạo 
#liên tục dùng Gauss 
#pca tao tp chinh thuc1, 2
#cas casi conf laij chon cai nao qt

In [4]:
mnist = datasets.load_digits()
x= mnist['data']
y= mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [5]:
#khong dung selection 
#Random forest
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred_Rf = clf.predict(X_test)

accuracy_rf = accuracy_score(y_test, y_pred_Rf)
precision_rf = precision_score(y_test, y_pred_Rf, average='macro')
recall_rf = recall_score(y_test, y_pred_Rf, average='macro')
f1_rf = f1_score(y_test, y_pred_Rf, average='macro')

#NaiveBayes 
clf = GaussianNB()
clf.fit(X_train, y_train)
y_pred_Bayes = clf.predict(X_test)

accuracy_bayes = accuracy_score(y_test, y_pred_Bayes)
precision_bayes = precision_score(y_test, y_pred_Bayes, average='macro')
recall_bayes = recall_score(y_test, y_pred_Bayes, average='macro')
f1_bayes = f1_score(y_test, y_pred_Bayes, average='macro')

#SVM 
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_svm = clf.predict(X_test)

accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm, average='macro')
recall_svm = recall_score(y_test, y_pred_svm, average='macro')
f1_svm = f1_score(y_test, y_pred_svm, average='macro')

In [6]:
mnist2 = datasets.load_digits()
x= mnist2['data']
y= mnist2['target']
x.shape  #in so mau du lieu, tong so thuoc tinh
X_new = SelectKBest(chi2, k=2).fit_transform(x,y)
X_new.shape #sau khi scale

X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.3, random_state=0)

In [7]:
#dung selection 
#Random forest
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred_Rf1 = clf.predict(X_test)

accuracy_rf_1 = accuracy_score(y_test, y_pred_Rf1)
precision_rf_1 = precision_score(y_test, y_pred_Rf1, average='macro')
recall_rf_1 = recall_score(y_test, y_pred_Rf1, average='macro')
f1_rf_1 = f1_score(y_test, y_pred_Rf1, average='macro')

#NaiveBayes 
clf = GaussianNB()
clf.fit(X_train, y_train)
y_pred_Bayes_1 = clf.predict(X_test)

accuracy_bayes_1 = accuracy_score(y_test, y_pred_Bayes_1)
precision_bayes_1 = precision_score(y_test, y_pred_Bayes_1, average='macro')
recall_bayes_1 = recall_score(y_test, y_pred_Bayes_1, average='macro')
f1_bayes_1 = f1_score(y_test, y_pred_Bayes_1, average='macro')

#SVM 
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_svm_1 = clf.predict(X_test)

accuracy_svm_1 = accuracy_score(y_test, y_pred_svm_1)
precision_svm_1 = precision_score(y_test, y_pred_svm_1, average='macro')
recall_svm_1 = recall_score(y_test, y_pred_svm_1, average='macro')
f1_svm_1 = f1_score(y_test, y_pred_svm_1, average='macro')

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [8]:
t1 = PrettyTable(['', 'acc', 'pre', 'recall', 'f1'])

t1.add_row(['Linear', round(accuracy_rf,4), round(precision_rf,4),round(recall_rf,4),round(f1_rf,4)])
t1.add_row(['Random', round(accuracy_bayes,4), round(precision_bayes,4),round(recall_bayes,4),round(f1_bayes,4)])
t1.add_row(['Sig', round(accuracy_svm,4), round(precision_svm,4),round(recall_svm,4),round(f1_svm,4)])
print(t1)

t2 = PrettyTable(['', 'acc', 'pre', 'recall', 'f1'])

t2.add_row(['Linear', round(accuracy_rf_1,4), round(precision_rf_1,4),round(recall_rf_1,4),round(f1_rf_1,4)])
t2.add_row(['Random', round(accuracy_bayes_1,4), round(precision_bayes_1,4),round(recall_bayes_1,4),round(f1_bayes_1,4)])
t2.add_row(['Sig', round(accuracy_svm_1,4), round(precision_svm_1,4),round(recall_svm_1,4),round(f1_svm_1,4)])
print(t2)

+--------+--------+--------+--------+--------+
|        |  acc   |  pre   | recall |   f1   |
+--------+--------+--------+--------+--------+
| Linear | 0.9778 | 0.9779 | 0.9785 | 0.978  |
| Random | 0.8241 | 0.8607 | 0.8251 | 0.8242 |
|  Sig   | 0.9741 | 0.9745 | 0.9757 | 0.9748 |
+--------+--------+--------+--------+--------+
+--------+--------+--------+--------+--------+
|        |  acc   |  pre   | recall |   f1   |
+--------+--------+--------+--------+--------+
| Linear | 0.3593 | 0.327  | 0.3606 | 0.3253 |
| Random | 0.3296 | 0.3243 | 0.3367 | 0.2854 |
|  Sig   | 0.3593 | 0.299  | 0.3571 | 0.3096 |
+--------+--------+--------+--------+--------+

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

In [9]:
# code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/MayHoc/Lab6'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/MayHoc/Lab6

In [10]:
dataset = pd.read_csv("bank.csv")
dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [11]:
#code
from sklearn.preprocessing import StandardScaler
column_3_1 = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']

scale = StandardScaler()
dataset[column_3_1] = scale.fit_transform(dataset[column_3_1])
print(dataset[column_3_1])

            age   balance       day  campaign     pdays  previous
0      1.491505  0.252525 -1.265746 -0.554168 -0.481184 -0.363260
1      1.239676 -0.459974 -1.265746 -0.554168 -0.481184 -0.363260
2     -0.019470 -0.080160 -1.265746 -0.554168 -0.481184 -0.363260
3      1.155733  0.293762 -1.265746 -0.554168 -0.481184 -0.363260
4      1.071790 -0.416876 -1.265746 -0.186785 -0.481184 -0.363260
...         ...       ...       ...       ...       ...       ...
11157 -0.691015 -0.473616  0.515650 -0.554168 -0.481184 -0.363260
11158 -0.187357 -0.246658  0.040612  0.547981 -0.481184 -0.363260
11159 -0.774958 -0.464934  0.396891 -0.186785 -0.481184 -0.363260
11160  0.148416 -0.473926 -0.909466 -0.186785  1.109571  1.818332
11161 -0.607072 -0.473926 -0.790707 -0.554168 -0.481184 -0.363260

[11162 rows x 6 columns]

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [20]:
#code
# column_3_2 = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
# encoder = OneHotEncoder(handle_unknown="ignore")
# encoded = encoder.fit_transform(dataset[column_3_2]).toarray()
# df = pd.DataFrame(encoded,columns= encoder.get_feature_names_out(column_3_2))
# # print(df)
# encode = OneHotEncoder()
# encode.fit(dataset[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']])
# encoded = encode.transform(dataset[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']]).toarray()
# new_df = pd.DataFrame(encoded, columns=encode.get_feature_names_out(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']))
# dataset = pd.concat([dataset, new_df], axis=1)
# dataset = dataset.drop(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome'], axis=1)

 
column_3_2 = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
encoder = OneHotEncoder(handle_unknown="ignore")
encoder.fit(dataset[column_3_2])
encoded = encoder.transform(dataset[column_3_2]).toarray()
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(column_3_2))
df_encoded = pd.concat([dataset, encoded_df], axis=1)
df_encoded.drop(column_3_2, axis=1, inplace=True)
print(df_encoded.head())

        age   balance       day  duration  campaign     pdays  previous  \
0  1.491505  0.252525 -1.265746      1042 -0.554168 -0.481184  -0.36326
1  1.239676 -0.459974 -1.265746      1467 -0.554168 -0.481184  -0.36326
2 -0.019470 -0.080160 -1.265746      1389 -0.554168 -0.481184  -0.36326
3  1.155733  0.293762 -1.265746       579 -0.554168 -0.481184  -0.36326
4  1.071790 -0.416876 -1.265746       673 -0.186785 -0.481184  -0.36326

  deposit  job_admin.  job_blue-collar  ...  month_jun  month_mar  month_may  \
0     yes         1.0              0.0  ...        0.0        0.0        1.0
1     yes         1.0              0.0  ...        0.0        0.0        1.0
2     yes         0.0              0.0  ...        0.0        0.0        1.0
3     yes         0.0              0.0  ...        0.0        0.0        1.0
4     yes         1.0              0.0  ...        0.0        0.0        1.0

   month_nov  month_oct  month_sep  poutcome_failure  poutcome_other  \
0        0.0        0.0        0.0               0.0             0.0
1        0.0        0.0        0.0               0.0             0.0
2        0.0        0.0        0.0               0.0             0.0
3        0.0        0.0        0.0               0.0             0.0
4        0.0        0.0        0.0               0.0             0.0

   poutcome_success  poutcome_unknown
0               0.0               1.0
1               0.0               1.0
2               0.0               1.0
3               0.0               1.0
4               0.0               1.0

[5 rows x 52 columns]

#3.3. Apply **Decision tree, Random forest, kNN, NaïveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

In [13]:
#code
X = df_encoded.drop('deposit', axis=1)
y = df_encoded['deposit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
# Decision tree
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)

accuracy_dt = accuracy_score(y_test, y_pred_dt)
precision_dt = precision_score(y_test, y_pred_dt, average='macro')
recall_dt = recall_score(y_test, y_pred_dt, average='macro')
f1_dt = f1_score(y_test, y_pred_dt, average='macro')

#Random forest
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred_Rf = clf.predict(X_test)

accuracy_rf = accuracy_score(y_test, y_pred_Rf)
precision_rf = precision_score(y_test, y_pred_Rf, average='macro')
recall_rf = recall_score(y_test, y_pred_Rf, average='macro')
f1_rf = f1_score(y_test, y_pred_Rf, average='macro')

# kNN
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

accuracy_knn = accuracy_score(y_test, y_pred_knn)
precision_knn = precision_score(y_test, y_pred_knn, average='macro')
recall_knn = recall_score(y_test, y_pred_knn, average='macro')
f1_knn = f1_score(y_test, y_pred_knn, average='macro')

#NaiveBayes 
clf = GaussianNB()
clf.fit(X_train, y_train)
y_pred_Bayes = clf.predict(X_test)

accuracy_bayes = accuracy_score(y_test, y_pred_Bayes)
precision_bayes = precision_score(y_test, y_pred_Bayes, average='macro')
recall_bayes = recall_score(y_test, y_pred_Bayes, average='macro')
f1_bayes = f1_score(y_test, y_pred_Bayes, average='macro')

In [14]:
data={'accuracy':[accuracy_dt,accuracy_rf,accuracy_knn,accuracy_bayes],
      'precision':[precision_dt,precision_rf,precision_knn,precision_bayes],
      'recall':[recall_dt,recall_rf,recall_knn,recall_bayes],
      'f1':[f1_dt,f1_rf,f1_knn,f1_bayes]}

row_labels = ['Decision tree', 'Random forest','kNN', 'NaiveBayes']

dframe = pd.DataFrame(data=data,index = row_labels)
dframe

               accuracy  precision    recall        f1
Decision tree  0.791878   0.790852  0.790827  0.790840
Random forest  0.850105   0.849743  0.851426  0.849853
kNN            0.764706   0.763576  0.763247  0.763398
NaiveBayes     0.718125   0.730475  0.707929  0.706985

#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [15]:
#code
X = df_encoded.drop('deposit', axis=1)
y = df_encoded['deposit']
X_new = SelectKBest(score_func=f_classif, k=7).fit_transform(X,y)
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.3, random_state=0)
# ???

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [16]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/MayHoc/Lab5'

df = pd.read_csv("creditcard.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/MayHoc/Lab5

In [17]:
df = pd.read_csv("creditcard.csv")

X = df.drop('Class', axis=1)
y = df['Class']

X_new = SelectKBest(score_func=f_classif, k=10).fit_transform(X,y)
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.07, random_state=0, train_size=0.04)

In [18]:
# Decision tree
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)

accuracy_dt = accuracy_score(y_test, y_pred_dt)
precision_dt = precision_score(y_test, y_pred_dt, average='macro')
recall_dt = recall_score(y_test, y_pred_dt, average='macro')
f1_dt = f1_score(y_test, y_pred_dt, average='macro')

# kNN
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

accuracy_knn = accuracy_score(y_test, y_pred_knn)
precision_knn = precision_score(y_test, y_pred_knn, average='macro')
recall_knn = recall_score(y_test, y_pred_knn, average='macro')
f1_knn = f1_score(y_test, y_pred_knn, average='macro')

# Logistic Linear 
lr = LogisticRegression(random_state=42,solver='lbfgs', max_iter=10000)
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)

accuracy_lr = accuracy_score(y_test, y_pred_lr)
precision_lr = precision_score(y_test, y_pred_lr, average='macro')
recall_lr = recall_score(y_test, y_pred_lr, average='macro')
f1_lr = f1_score(y_test, y_pred_lr, average='macro')

#SVM 
clf = svm.SVC(kernel='linear') 
clf.fit(X_train, y_train)
y_pred_svm = clf.predict(X_test)

accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm, average='macro')
recall_svm = recall_score(y_test, y_pred_svm, average='macro')
f1_svm = f1_score(y_test, y_pred_svm, average='macro')

#Random forest
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred_Rf = clf.predict(X_test)

accuracy_rf = accuracy_score(y_test, y_pred_Rf)
precision_rf = precision_score(y_test, y_pred_Rf, average='macro')
recall_rf = recall_score(y_test, y_pred_Rf, average='macro')
f1_rf = f1_score(y_test, y_pred_Rf, average='macro')

#NaiveBayes 
clf = GaussianNB()
clf.fit(X_train, y_train)
y_pred_Bayes = clf.predict(X_test)

accuracy_bayes = accuracy_score(y_test, y_pred_Bayes)
precision_bayes = precision_score(y_test, y_pred_Bayes, average='macro')
recall_bayes = recall_score(y_test, y_pred_Bayes, average='macro')
f1_bayes = f1_score(y_test, y_pred_Bayes, average='macro')

In [19]:
data={'accuracy':[accuracy_dt,accuracy_knn,accuracy_lr,accuracy_svm,accuracy_rf,accuracy_bayes],
      'precision':[precision_dt,precision_knn,precision_lr,precision_svm,precision_rf,precision_bayes],
      'recall':[recall_dt,recall_knn,recall_lr,recall_svm,recall_rf,recall_bayes],
      'f1':[f1_dt,f1_knn,f1_lr,f1_svm,f1_rf,f1_bayes]}

row_labels = ['Decision tree', 'kNN','Logistic Linear', 'SVM','Random forest','NaiveBayes']

dframe = pd.DataFrame(data=data,index = row_labels)
dframe

                 accuracy  precision    recall        f1
Decision tree    0.998796   0.882906  0.787324  0.828270
kNN              0.999147   0.905154  0.874824  0.889397
Logistic Linear  0.999147   0.962586  0.812450  0.872921
SVM              0.999248   0.939118  0.862399  0.897072
Random forest    0.998997   0.916290  0.812374  0.856892
NaiveBayes       0.991824   0.588853  0.921055  0.645130

#Finally,
Save a copy in your Github. Remember renaming the notebook.